:root {
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
    --vp-code-color: var(--vp-c-indigo-1);
}

summary {
    cursor: pointer;
}

.vp-doc h4 {
    margin-top: 1.75em;
}

.vp-doc h4 + p {
    margin-top: .25em;
}
